/* =================================
  CONTAINERS AND GROUPS
==================================== */

.DonateForm_Container {
  display: flex;
  border: solid 3px rgb(75, 153, 31);
  flex-direction: column;
  padding: 39px 47px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.DonateForm_Container h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;

}

.DonateForm_Container h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style:italic;
  font-weight: normal;
  text-align: center;

}

.DonateForm_Container p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 15px;

}

.DonateForm_InputContainer {
  display: block;
  max-width: 600px;
  margin:auto;
}

.DonateForm_Checkbox {
  display: block;
  text-align: left;
  padding: 15px 0;
}

.DonateForm_Checkbox label {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.DonateForm_ButtonGroup {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: center;
}




/* =================================
  FORM BUTTON/BOX STYLES
==================================== */

.DonateForm_Button {
  background-color: white;
  border-radius: 4px;
  border: solid 2px rgb(75, 153, 31);
  font-family: "Roboto", sans-serif;
  width: 100px;
  line-height: 0px;
  font-size: 18px;
  font-weight: 300;
  color: rgb(75, 153, 31);
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  margin: 10px 10px;
}

/* Style changes for green "next" button */
.Next_Button {
  background-color: rgb(75, 153, 31);
  color: white;
  padding-bottom: 16px;
  }

.DonateForm_Button:hover {
    cursor: pointer;
    font-weight: 400;
  }

.DonateForm_Input {
    padding: 15px;
    margin-bottom: 20px;
    height: 20px;
    width: 90%;
    color: rgb(75, 153, 31);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: normal;
    text-align: left;
    border: solid 2px rgb(75, 153, 31);
    border-radius: 10px;

  }

.DonateForm_Input:focus {
    color: black;
  }

.DonateForm_Input:required {

}

.DonateForm_Comment {
    height: 120px;
  }

/* =================================
  OTHER STUFF....I don't even know...
==================================== */

input[type=checkbox] {

}

.Hidden {
  display: none;
}
