#Campaigns {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 64px;
}

#Campaigns h1 {
  color: #000;
  font-family: "Roboto";
  letter-spacing: 0.1em;
  font-size: 24px;
  margin-bottom: 32px;
}

#Campaigns img {
  height: 50px;
  margin-bottom: 16px;
}
