#Donate_Payment div {
  display: flex;
}

#Donate_Month {
  margin-right: 1em !important;
  flex: 0;
  max-width: 2em !important;
  margin-right: 8px;
}

#Donate_Year {
  flex: 0;
  max-width: 4em !important;
  margin-right: 8px;
  margin-right: 1em !important;
}

#Donate_CVV {
  flex: 0;
  max-width: 3em !important;
  margin-right: 1em !important;
}

#Donate_FinalAmount {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#Donate_FinalAmount span {
  color: #2b2b2b;
  font-family: "Roboto";
  font-size: 10pt;
  letter-spacing: 1.5px;
}

#Donate_FinalAmount h5 {
  margin-top: 4px;
  font-weight: 700 !important;
  margin-bottom: 16px;
}

#Donate_SmallFields {
  display: flex;
  flex-direction: row;
}

@media (min-width: 1024px) {
  #Donate_Month {
    margin-right: 1em !important;
    flex: 0;
    min-width: 4em !important;
    max-width: 4em !important;
    margin-right: 8px;
  }

  #Donate_Year {
    flex: 0;
    min-width: 4em !important;
    max-width: 4em !important;
    margin-right: 8px;
    margin-right: 1em !important;
  }

  #Donate_CVV {
    flex: 0;
    min-width: 4em !important;
    max-width: 4em !important;
    margin-right: 1em !important;
  }
}
