.Donate_AmountRow {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-bottom: 16px;
}

.Donate_Space {
  display: flex;
  flex: 0.2;
}

.Donate_Amount {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1.3px solid #4b991f;
  width: 70px;
  height: 20px;
  color: #4b991f;
  font-size: 13px;
  font-family: "Roboto";
  letter-spacing: 2px;
}

.Donate_AmountSelected {
  color: #fff;
  background-color: #4b991f;
  border-color: #2f7e16;
}

#Donate_Currency {
  margin: 0px 4px;
  margin-top: 1px;
}

input#Donate_Other {
  width: 40px !important;
  height: 20px !important;
  border-radius: 0px !important;
  font-size: 13px !important;
  font-family: "Roboto" !important;
  letter-spacing: 2px !important;
  padding: 0px !important;
  margin: 0 !important;
  border: none !important;
}
