#Donate_Container {
  color: #fff;
  background-image: url("./donate_background_mobile.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 128px;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 1;
}

#Donate_DonationBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px;
}

#Donate_InnerContainer h1 {
  margin-bottom: 16px;
  font-size: 30px;
}

#Donate_InnerContainer p {
  margin-bottom: 32px;
  font-size: 18px;
}

#Donate_SubHeader {
  font-family: "Roboto";
  font-size: 15pt;
  text-align: center;
  font-style: italic;
  font-weight: medium;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

#Donate_Header {
  font-family: "Roboto";
  font-size: 30pt;
  line-height: 30pt;
  text-align: center;
  font-weight: bold;
  letter-spacing: 4px;
  text-shadow: 1px 1px 4a rgba(0, 0, 0, 0.2);
}
