#Donate_Thankyou_Outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#Donate_Thankyou_Inner {
  font-family: Roboto;
  display: flex;
  color: #2b2b2b;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
  align-self: center;
}

#Donate_Thankyou_Inner h2 {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 2px;
}

#Donate_Thankyou_Inner p {
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 13px;
}

#Donate_Thankyou_Inner button {
  font-size: 16px;
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: #fff;
  background-color: #4b991f;
  border: 1.3px solid #4b991f;
  margin: 0px 8x;
  border-radius: 4px;
  padding: 0px 16px;
}

@media (min-width: 1024px) {
  #Donate_Thankyou_Inner h2 {
    font-weight: 300;
    font-size: 30px;
  }
  #Donate_Thankyou_Inner p {
    font-size: 16px;
  }
}
