#AdvisoryHeads_OuterContainer {
  flex-direction: column;
  padding: 32px;
}

.AdvisoryHeads_Container {
  display: flex;
  color: #2b2b2b;
}

.AdvisoryHeads_InnerContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.AdvisoryHeads_Name {
  margin: 0;
  text-align: center;
  color: rgb(75, 153, 31);
  font-family: 'Roboto', sans-serif;
  font-size: 17.4px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 23.48px;
}

.AdvisoryHeads_Title {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 13.05px;
  letter-spacing: 0.1em;
  line-height: 23.48px;
  text-align: center;
}

.AdvisoryHeads_ImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.AdvisoryHeads_ImageContainer img {
  width: 172px;
  height: 172px;
}

.AdvisoryHeads_ImageContainer {
  margin-bottom: 24px;
}

.AdvisoryHeads_Overlay {
  margin-top: -172px;
  border-radius: 105px;
  left: 0;
  width: 172px;
  height: 172px;
  display: block;
  background-color: rgba(75, 153, 31, 0.61);
}

.AdvisoryHeads_Overlay_Transition-enter {
  opacity: 0.01;
}

.AdvisoryHeads_Overlay_Transition-enter.AdvisoryHeads_Overlay_Transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in,
}

.AdvisoryHeads_Overlay_Transition-leave {
  opacity: 1;
}

.AdvisoryHeads_Overlay_Transition-leave.AdvisoryHeads_Overlay_Transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
