.AdvisoryHead_OuterContainer {
  flex-direction: column;
  padding: 32px;
}

.AdvisoryHead_Container {
  width: 1024px;
  justify-content: space-between;
  display: flex;
  color: #2b2b2b;
}

.AdvisoryHead_InnerContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 16px;
  width: 220px;
}

.AdvisoryHead_Name {
  margin: 0;
  text-align: center;
  color: rgb(75, 153, 31);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 18px;
}

.AdvisoryHead_Title {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 13.05px;
  letter-spacing: 0.1em;
  line-height: 23.48px;
  text-align: center;
}

.AdvisoryHead_ImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.AdvisoryHead_ImageContainer img {
  width: 172px;
  height: 172px;
}

.AdvisoryHead_ImageContainer {
  margin-bottom: 24px;
}

.AdvisoryHead_Overlay {
  margin-top: -172px;
  border-radius: 105px;
  left: 0;
  width: 172px;
  height: 172px;
  display: block;
  background-color: rgba(75, 153, 31, 0.61);
}

.AdvisoryHead_Overlay_Transition-enter {
  opacity: 0.01;
}

.AdvisoryHead_Overlay_Transition-enter.AdvisoryHead_Overlay_Transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in,
}

.AdvisoryHead_Overlay_Transition-leave {
  opacity: 1;
}

.AdvisoryHead_Overlay_Transition-leave.AdvisoryHead_Overlay_Transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
