#AdvisoryBoard_Container {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  color: #2b2b2b;
  align-items: center;
  justify-content: center;
  width: 1024;
}
