#AdvisoryProfile_Container {
  display: flex;
  width: 1024px;
  justify-content: space-between;
  align-items: flex-start;
}

#AdvisoryProfile_ImageContainer {
  width: 415px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#AdvisoryProfile_TextContainer {
  padding-top: 46px;
  width: 522px;
}

.AdvisoryProfile_Image {
  width: 415px;
  height: 415px;
}

#AdvisoryProfile_Header {
  font-size: 33.26;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1em;
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-top: 26px;
}

#AdvisoryProfile_Subheader {
  font-size: 22.16;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-align: center;
}

.AdvisoryProfileDropdown_Transition-enter {
  opacity: 0.01;
}

.AdvisoryProfileDropdown_Transition-enter.AdvisoryProfileDropdown_Transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in,
}

.AdvisoryProfileDropdown_Transition-leave {
  opacity: 1;
}

.AdvisoryProfileDropdown_Transition-leave.AdvisoryProfileDropdown_Transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
