@media(min-width: 1024px) {
  .BodyText {
    font-size: 20px;
    line-height: 35px;
    max-width: 1024px;
  }
}

@media(max-width: 1024px) {
  .BodyText {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }
}

.BodyText {
  font-family: "Open Sans", sans-serif;
}
