@media(min-width: 1024px) {
  #Donate_Container {
    color: #FFF;
    background-image: url('./donate_background.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #Donate_InnerContainer {
    width: 542px;
  }

  #Donate_InnerContainer h1 {
    font-size: 58.76px;
  }

  #Donate_InnerContainer p {
    text-align: center;
    font-size: 25px;
  }

  #Donate_DonationBox {
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    padding: 39px 47px;
  }

  #Donate_Currency {
    width: 60px;
    height: 90px;
    background-color: #fff;
    color: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  }

  #Donate_Input {
    background-color: #fff;
    width: 385px;
    padding: 0px;
    margin-bottom: 49px;
    height: 90px;
    color: #2b2b2b;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    letter-spacing: normal;
    text-align: left;
    padding: 0px;
    border: none;
  }

  .Donate_Button {
    background-color: rgb(75, 153, 31);
    border-radius: 4px;
    border: none;
    font-family: "Open Sans", sans-serif;
    padding: 30px 0px;
    width: 212px;
    font-size: 20px;
    color: #fff;
  }

  #Donate_ButtonGroup {
    display: flex;
    justify-content: space-between;
  }
}

@media(max-width: 1024px) {
  #Donate_Container {
    height: 100vh;
    color: #FFF;
    background-image: url('./donate_background.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 16px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #Donate_DonationBox {
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    padding: 32px 16px;
  }

  #Donate_InnerContainer h1 {
    margin-bottom: 16px;
    font-size: 30px;
  }

  #Donate_InnerContainer p {
    margin-bottom: 32px;
    font-size: 18px;
  }

  #Donate_Currency {
    width: 30px;
    height: 50px;
    background-color: #fff;
    color: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  }

  #Donate_Input {
    width: 100%;
    background-color: #fff;
    padding: 0px;
    margin-bottom: 16px;
    height: 50px;
    color: #2b2b2b;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    letter-spacing: normal;
    text-align: left;
    padding: 0px;
    border: none;
  }

  .Donate_Button {
    display: flex;
    background-color: rgb(75, 153, 31);
    border-radius: 4px;
    border: none;
    font-family: "Open Sans", sans-serif;
    padding: 16px 32px;
    font-size: 14px;
    margin: 0px 16px;
    color: #fff;
  }

  #Donate_ButtonGroup a {
    text-decoration: none;
  }

  #Donate_ButtonGroup {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}


#Donate_DonationBoxInnerContainer {
  display: flex;
}

#Donate_Input::placeholder {
  color: #bbb;
}
