
#Hero_Container {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

#Hero_InnerContainer {
  justify-content: flex-start;
}

@media(max-width: 1024px) {
  #SuperContainer {
    display: flex;
    flex-direction: column;
    height: 70vh;
  }

  #Hero_Container {
    background-image: url('./hero_photo_mobile.png');
    background-position: top;
    flex: 1;
    justify-content: flex-end;;
    align-items: center;
    padding-bottom: 10%;
  }

  #Hero_Header {
    text-align: center;
    font-size: 40px;
    padding: 16px;
  }

  #Hero_Subheader {
    padding: 16px;
    text-align: center;
    font-size: 16px;
  }
}

@media(min-width: 1024px) {
  #Hero_Container {
    background-image: url('./hero_photo.jpg');
    height: 755px;
    justify-content: flex-end;
    align-items: center;
  }

  #Hero_InnerContainer {
    padding-bottom: 88px;
    padding-left: 67px;
    width: 1024px;
  }

  #Hero_Header {
    max-width: 736px;
    font-size: 80.43px;
    margin-bottom: 42px;
  }

  #Hero_Subheader {
    font-size: 33.62px;
  }
}

#Hero_Header {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: WHITE;
  letter-spacing: 0.1em;
  line-height: 1em;
}

#Hero_Subheader {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: WHITE;
  margin: 0px;
  letter-spacing: 0.1em;
}
