.NavBar_Transition-enter {
  opacity: 0.01;
}

.NavBar_Transition-enter.NavBar_Transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.NavBar_Transition-leave {
  opacity: 1;
}

.NavBar_Transition-leave.NavBar_Transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
