@media(min-width: 1024px) {
  #OurStory_outerContainer {
    background-image: url("./our_story_background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 110px 0px;
  }

  #OurStory_innerContainer {
    width: 890px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 208px
  }

  #textContainer {
    text-align: left !important;
    width: 522px;
  }

  .audreyName {
    width: 331px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin: 0;
    font-size: 33px;
  }

  .audreyTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 22px;
  }

  #audreyBox {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
    margin-left: -10px;
  }
}

@media(max-width: 1024px) {
  #OurStory_outerContainer {
    height: 100vh;
    background-image: url("./our_story_background_mobile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    color: #fff;
  }

  #OurStory_innerContainer {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #audreyBox {
    display: none;
  }

  #OurStory_mobileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.OurStoryDropdown_Transition-enter {
  opacity: 0.01;
}

.OurStoryDropdown_Transition-enter.OurStoryDropdown_Transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in,
}

.OurStoryDropdown_Transition-leave {
  opacity: 1;
}

.OurStoryDropdown_Transition-leave.OurStoryDropdown_Transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
