#OurStory_outerContainer {
  background-image: url("./our_story_background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 73px;
}

#OurStory_innerContainer {
  width: 890px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 319px
}

#textContainer {
  width: 522px;
}

#readMore {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 35px;
}

.audreyName {
  width: 331px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0;
  font-size: 33px;
}

.audreyTitle {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 22px;
}

#audreyBox {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
  margin-right: 99px;
}
